
body{
    background: radial-gradient(#101e41, #0f172a);
    padding: 0px;
    margin: 0px;
    }

html {
    margin: 0px;
    padding: 0px;
}


.menu{
display: flex;
justify-content: flex-end;
margin-right: 30px;
align-items: center;
margin-top: 50vh;
}

#heri{
  margin-top: -50vh;
}

#fix {

}

.vertical {
  position: fixed;  
  background-color: rgba(255, 255, 255, 0.30);
  width: 60px;
  border-radius: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.profile img,.education img,.portofolio img,.hobby img,.contact img {
  width: 100%;
  margin-top: 30px;
}

h1,h2,h3,p{
    font-family: Poppins;
    color: white;
    font-weight: 300;
    }

.yellow-text{
    color: #ffcc00;
  }



  @media (max-width: 576px) {
.menu {
  margin-right: -80px;
}
h1 {
  font-size:5.5rem;
  }
  
h2 {
  font-size:3rem;
  margin-bottom: 5vh;
  }
  
#h2-hero{
  margin-top: -100px;
  margin-bottom: 8vh;
  font-size:3rem;
  }
  
h3 {
  margin-top: -50px;
  font-size:2rem;
  margin-bottom: 8vh;
  }
  
p {
  font-size: 1.25rem;
  margin-top: -70px;
  margin-bottom: 60px;
  padding: 0%;
}

#img-edu {
  max-width: 80%;
  border-radius: 10px;
  width: 100%;
        }
    
        .image {
            max-width: 80%;
            border-radius: 10px;
            box-shadow: 5px 10px #00000020 ;
            vertical-align: middle;
        }
    
        .image.center {
            margin-top: -70px;
            margin-bottom: -70px;
            margin-left: 50px;
        }
        #avatar {
            max-width: 70%;
            border-radius: 50%;
        }

        .container {
            text-align: center;
            width: 100%;
            margin-bottom: 15vh;
            padding-left: 10%;
            padding-right: 15%;
            
        }

 

        .row1 {
            max-width: 100%;
            padding: 0px;
          }
          
          .row2 {
            max-width: 100%;
            padding: 0px;
          }

            
        .edu,.hobby {
            display: grid;
            grid-template-columns: 1fr;
          
        }
    
        .edu>.row1, .hobby>.row1 {
            order: 2;
        }
    
        .edu>.row2,.hobby>.row2 {
            order:1;
    
        }

        .container.footer {
           height: 60vh;
            margin: 0px;}

.container.footer p {
    margin-top: -3vh;
}

#copyright{
    font-size: 0.8rem;
}
  }   
  



  @media (min-width: 1201px) {
    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        height: 90vh;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
      }
      
      .row1 {
        max-width: 100%;
        padding-right: 10px;
      }
      
      .row2 {
        max-width: 100%;
        padding-left: 10px;
      }
    
          
        h1 {
        font-size:6.5rem;
        }
        
        h2 {
        font-size:5rem;
        }
        
        #h2-hero{
        margin-top: -100px;
        font-size:3.5rem;
        }
        
        h3 {
        margin-top: -50px;
        font-size:3rem;
        }
        
        p {
        font-size: 1.5rem;
        margin-top: -50px;
        margin-bottom: 60px;
        }
    
        #img-edu {
        max-width: 80%;
        border-radius: 10px;
        }
    
        .image {
            max-width: 60%;
            border-radius: 10px;
            box-shadow: 5px 10px #00000020 ;
        }
    
        .image.center {
            margin-top: -70px;
            margin-bottom: -70px;
            margin-left: 50px;
        }
        #avatar {
            max-width: 70%;
            border-radius: 50%;
        }
    
    
    .row2.avatar {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
        
    
        footer{
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    
      
    .container.footer {
        display: grid;
        grid-template-columns: 1fr;
        height: 60vh;
         margin: 0px;}

.container.footer p {
 margin-top: -3vh;
}

#copyright{
    font-size: 1rem;
}
 }

   

@media (min-width: 993px) and (max-width: 1200px) {
    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        height: 90vh;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
      }
      
      .row1 {
        max-width: 100%;
        padding-right: 10px;
      }
      
      .row2 {
        max-width: 100%;
        padding-left: 10px;
      }
   
    h2 {
    font-size:4.29rem;
    }
    
  
    h3 {
    margin-top: -40px;
    font-size:2.57rem;
    }
    
    p {
    font-size: 1.29rem;
    margin-top: -40px;
    margin-bottom: 50px;
    }

    h1 {
    font-size:5.57rem;
    }
                      
    #h2-hero{
    margin-top: -90px;
    font-size:3rem;
    }

    #img-edu {
        max-width: 80%;
        border-radius: 10px;
        }
    
        .image {
            max-width: 60%;
            border-radius: 10px;
            box-shadow: 5px 10px #00000020 ;
        }
    
        .image.center {
            margin-top: -70px;
            margin-bottom: -70px;
            margin-left: 50px;
        }
        #avatar {
            max-width: 70%;
            border-radius: 50%;
        }
    
    
    .row2.avatar {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
        
    
        footer{
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    
      
    

    .container.footer {
        display: grid;
        grid-template-columns: 1fr;
        height: 60vh;
         margin: 0px;}

.container.footer p {
 margin-top: -3vh;
}

#copyright{
    font-size: 1rem;
}

}

@media (min-width: 769px) and (max-width: 992px) {
    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        height: 0vh;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 10px;
      }
      
      .row1 {
        max-width: 100%;
        padding-right: 10px;
      }
      
      .row2 {
        max-width: 100%;
        padding-left: 10px;
      }

    h2 {
    font-size:3.54rem;
    }
    
  
    h3 {
    margin-top: -30px;
    font-size:2.13rem;
    }
    
    p {
    font-size: 1.06rem;
    margin-top: -30px;
    margin-bottom: 40px;
    }

    h1 {
    font-size:4.61rem;
    }
                  
    #h2-hero{
    margin-top: -80px;
    font-size:2.48rem;
    }

    #img-edu {
        max-width: 80%;
        border-radius: 10px;
        }
    
        .image {
            max-width: 60%;
            border-radius: 10px;
            box-shadow: 5px 10px #00000020 ;
        }
    
        .image.center {
            margin-top: -70px;
            margin-bottom: -70px;
            margin-left: 50px;
        }
        #avatar {
            max-width: 70%;
            border-radius: 50%;
        }
    
    
    .row2.avatar {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
        
    
        footer{
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    
      
    

    .container.footer {
        display: grid;
        grid-template-columns: 1fr;
        height: 60vh;
         margin: 0px;}

.container.footer p {
 margin-top: -3vh;
}

#copyright{
    font-size: 1rem;
}
}

@media (min-width: 577px) and (max-width: 768px) {

  .menu {
    margin-right: -100px;
  }

    h1 {
        font-size:5.5rem;
        }
        
      h2 {
        font-size:3.5rem;
        margin-bottom: 5vh;
        }
        
      #h2-hero{
        margin-top: -100px;
        margin-bottom: 8vh;
        font-size:3rem;
        }
        
      h3 {
        margin-top: -30px;
        font-size:2.5rem;
        margin-bottom: 8vh;
        }
        
      p {
        font-size: 1.5rem;
        margin-top: -70px;
        margin-bottom: 60px;
        padding: 0%;
      }
      
      #img-edu {
        max-width: 80%;
        border-radius: 10px;
        width: 100%;
              }
          
              .image {
                  max-width: 80%;
                  border-radius: 10px;
                  box-shadow: 5px 10px #00000020 ;
                  vertical-align: middle;
              }
          
              .image.center {
                  margin-top: -70px;
                  margin-bottom: -70px;
                  margin-left: 50px;
              }
              #avatar {
                  max-width: 70%;
                  border-radius: 50%;
              }
      
              .container {
                  text-align: center;
                  width: 100%;
                  margin-top: -10px;
                  margin-bottom: 15vh;
                  padding-left: 10%;
                  padding-right: 15%;
                  
              }
      
       
      
              .row1 {
                  max-width: 100%;
                  padding: 0px;
                }
                
                .row2 {
                  max-width: 100%;
                  padding: 0px;
                }
      
                  
              .edu,.hobby {
                  display: grid;
                  grid-template-columns: 1fr;
                
              }
          
              .edu>.row1, .hobby>.row1 {
                  order: 2;
              }
          
              .edu>.row2,.hobby>.row2 {
                  order:1;
          
              }
      
              .container.footer {
                 height: 60vh;
                  margin: 0px;}
      
      .container.footer p {
          margin-top: -3vh;
      }
      
      #copyright{
          font-size: 0.8rem;
      }
        }   
        
      
      
      


    
